body {
  font-family: Arial, sans-serif; /* Estilo de fuente para el cuerpo del documento */
}

h1 {
  text-align: center; /* Alineación centrada para el título principal */
}

#input-container {
  display: flex;
  flex-direction: column; /* Diseño de columna para los elementos internos */
  align-items: center; /* Centra los elementos horizontalmente */
  margin-top: 20px; /* Margen superior de 20 píxeles */
}

label {
  margin-bottom: 5px; /* Margen inferior de 5 píxeles para las etiquetas */
}

input {
  margin-bottom: 10px; /* Margen inferior de 10 píxeles para los campos de entrada */
}

button {
  padding: 10px 20px; /* Espaciado interno de 10 píxeles en vertical y 20 píxeles en horizontal */
}

#resultado {
  text-align: center; /* Alineación centrada para el resultado */
  margin-top: 20px; /* Margen superior de 20 píxeles */
  font-size: 20px; /* Tamaño de fuente de 20 píxeles */
}
